{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es2022": true
  },
  "overrides": [
    {
      "files": [
        "*.tsx",
        "*.ts"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
